<table class="pure-table lab-table lab-table-files">
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Size</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let file of files$ | async">
			<ng-container *ngIf="!file.name">
				<td colspan="4">
					<span>Retrieving </span><img src="assets/img/loading.gif" alt="Loading">
				</td>
			</ng-container>
			<ng-container *ngIf="file.name">
				<td><a [routerLink]="['/data/play-file', file.name]">Play</a></td>
				<td><a target="_blank" href="/data-file?name={{file.name}}">{{file.name}}</a></td>				
				<td>{{file.size}}</td>
				<td><button class="pure-button" [disabled]="!(idleMode$ | async)" (click)="removeFile(file.name)">Remove</button></td>
			</ng-container>
		</tr>
	</tbody>
</table>
